<div *ngFor="let event of events">
    <div class="container-global">
        <div class="container-up">
            <img class="img-event-details" [src]="event.image" alt="{{ event.title }}">
        </div>
        <div class="container-aside">
            <p class="comentarios">{{ event.description }}</p>
        </div>
        <div class="container-down">
            <div class="eventdetails-title">
                <input class="Event-title" type="text" name="" [value]="event.title">
            </div>
            <div class="eventdetails-date">
                <input class="event-date" type="text" name="" [value]="event.publicationevent" readonly>
            </div>
            <div class="eventdetails-participants">
                <input class="participans" type="text" name="" [value]="event.limitparticipants" readonly>
            </div>
        </div>
    </div>
</div>
