<div class="row">
    <div class="col-12 container-h1-1">
        <h1 class="h1-1">Featured &nbsp;&nbsp;&nbsp;Tournaments</h1>
    </div>
</div>



    <div class="container-slider col-12">
        <!-- Contenido del container-slider -->
    </div>



<div class="container-flex">
    <div class="container-next-tournaments">
        <app-upcoming-events></app-upcoming-events>
    </div>

    <div class="container-finished-tournaments">
        <app-past-events></app-past-events> 
    </div>
</div>

<app-footer></app-footer>
