<header class="header">
    <div class="logo-container">
        <img src="../../../assets/images/Logo.png" alt="Logo" class="logo">
    </div>
    <nav class="nav">
        <ul>
            <li><a routerLink="/events"><button class="events">Events</button></a></li>
            <li><a routerLink="/login"><button class="login">Login</button></a></li>
            <li><a routerLink="/crud"><button class="crud">Crud Events</button></a></li>
        </ul>
    </nav>
    <div class="hamburger-menu">
        <div class="hamburger"></div>
        <div class="hamburger"></div>
        <div class="hamburger"></div>
    </div>
</header>