<div class="banner">
    
    <div class="image-slideshow">

        <a href="https://angular.io/">
            <img src="../../../../assets/images/call_of_dutty.jpg" class="image-fade" />
        </a>
        <a href="https://angular.io/">
            <img src="../../../../assets/images/fortnitef5.jpg" class="image-fade" />
        </a>
        <a href="https://angular.io/">
            <img src="../../../../assets/images/HEARTStone.jpg" class="image-fade" />
        </a>
        <a href="https://angular.io/">
            <img src="../../../../assets/images/lolf5.jpg" class="image-fade" />
        </a>
        <a href="https://angular.io/">
            <img src="../../../../assets/images/Rocket_League.jpg" class="image-fade" />
        </a>
    </div>
</div>