body {
    margin: 0;
    padding: 0;
    background-image: url('../src/assets/image\ 3.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif; 
    display: flex;
    justify-content: center;
/*     align-items: center; */
    height: cover;
    box-sizing:border-box;
  }
  
