<div class="container-global">
  <div class="container-up">
      <img class="img-event-details"
          src="https://static1-es.millenium.gg/articles/0/14/07/0/@/63570-fireshot-capture-013-betting-on-lol-article_image_d-1.png"
          alt="juego league of legends">
  </div>
  <div class="container-aside">
      <textarea class="comentarios" name="comentarios" rows="" cols="">Escribe aquí tus comentarios</textarea>
  </div>
  <div class="container-down">
      <div class="eventdetails-title">
          <input class="Event-title" type="text" name="" value="Event title">
      </div>
      <div class="eventdetails-date">
          <input class="event-date" type="text" name="" value="Event date" readonly>
      </div>
      <div class="eventdetails-participants">
          <input class="participans" type="text" name="" value="Event participants" readonly>
      </div>
    </div>
</div>
<div class="button-back">
  <button class="bt" type="button"> back</button>
</div>
 <!-- <div *ngFor="let eventGame of eventGamesData">
  <h2>{{ eventGame.title }}</h2>
  <p><strong>Publication Date:</strong> {{ eventGame.publicationevent }}</p>
  <p><strong>Limit Participants:</strong> {{ eventGame.limitparticipants }}</p>
  <p><strong>Description:</strong> {{ eventGame.description }}</p>
  <hr>
</div> -->
