.upcoming-event {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 5%;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upcoming-event h3 {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.event-details {
  font-size: 0.8rem;
  margin: 5px 0;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.date {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  align-items: center;
}

.button {
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
}

.login-button {
  background-color: #2ecc71;
  color: black;
  border-radius: 10px;
  border: none;
  margin-left: 5px;
  font-weight: bold;
}

.info-button {
  background-color: #2ecc71;
  border-radius: 10px;
  color: black ;
  border: none;
  font-weight: bold;
}
.container-h1-1{
  background-color: #44F306;
  border: 0.188rem solid #000000;
  outline: 0.188rem solid #44F306;
  margin-top: 7%; 
  border-radius: 10px; 
  text-align: center;
  text-shadow: -0.063rem -0.063rem 0.063rem #ffffff, 0.125rem 0.125rem  0.125rem  #ffffff, -0.063rem 0.063rem 0.063rem #ffffff, 0.063rem -0.063rem 0.063rem #ffffff;
  vertical-align: center;
  text-align: center;
  padding: 0.5rem;
  font-size: 6px;
}
.pagination {
  justify-content: center;
  margin-top: 20px;

  .page-item {
    display: inline;
    margin: 0 5px;

    .page-link {
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}