.upcoming-event {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.upcoming-event h3 {
  font-weight: bold;
  margin: 0;
}

.upcoming-event p {
  font-weight: bold;
  margin: 5px 0;
}